.head header {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 7px;
}

.head header a {
    color: #0073e6;
    font-weight: 500;
    text-decoration: none; /* Supprime la décoration initiale */
    transition: color 0.3s ease; /* Animation fluide pour le changement de couleur */
}

.head header a:hover {
    color: #005bb5; /* Bleu plus sombre pour l'effet hover */
}

.head h1 {
    font-size: 2.5rem; /* Taille légèrement augmentée pour donner plus de présence */
    font-weight: bold; /* Met en valeur le titre */
    color: #222222; /* Ton plus sombre pour un meilleur contraste */
    margin: 0; /* Supprime les marges par défaut */
}

.head nav a {
    margin: 0 1rem; /* Espacement ajusté entre les liens */
    padding: 0.5rem 1rem; /* Ajout de padding pour un meilleur confort au clic */
    border-radius: 5px; /* Coins arrondis pour un effet moderne */
    background-color: transparent; /* Fond initial transparent */
}

.head nav a:hover {
    background-color: #f0f4f8; /* Couleur de fond légère au survol */
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
}

.search-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
}
