{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <title>{% block title %}Musify{% endblock title %}</title>
  {% block head %}{% endblock head %}
</head>
<body class="head">
  <header >
    <a href="{% url 'home' %}"><h1>Musify</h1></a>
    
    <div class="search-container">
      <form method="get" action="{% url 'search' %}">
        <input type="search" 
                 name="q" 
                 placeholder="Artistes, titres, podcasts…" 
                 aria-label="Rechercher" 
                 class="search-input" 
                 value="{{ request.GET.q|default:'' }}" />
        <button type="submit" class="search-button">search</button>
      </form>
  </div>

    <nav>
      <a href="{% url 'home' %}">Home</a>
      {% comment %} <a href="{% url 'playlist' %}">Playlist</a>
      <a href="{% url 'favorite' %}">Favorite</a> {% endcomment %}
      <a href="{% url 'top' %}">Top Music</a>
      {% if user.is_authenticated %}
        <a href="{% url 'account' %}">Account</a>
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
</body>
</html>

